*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 15px;
}
.page{
    height: 400vh;
}
.progress__line{
    height: 10px;
    position: fixed;
    
    top: 0;
    left: 0;
    background-color: red;
}
