.from-group-title {
}
.form-group {
    margin-top: 10px;
}
.real-checkbox {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;

}
.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    border:2px solid #7e9bbd;
    border-radius: 4px;
    margin-right: 5px;
    vertical-align: sub;
}
.custom-checkbox::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    content:"";
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-top: 1px;
    background-image: url("./check.svg") ;
    background-repeat: no-repeat;
    transition: 0.2s ease-in;
}
.real-checkbox:checked + .custom-checkbox::before{
    transform: translate(-50%,-50%) scale(1);
}
