* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




h1 {
    font-size: 24px;
}

.controls {
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

button {
    font-size: 18px;
    padding: 0.2rem 1rem;
    cursor: pointer;
}

/* Слайдер */

.slider {
    margin: 0 auto;
    width: 800px;
    height: 450px;
    background-color: rgb(182, 203, 222);
}

.hidden {
    display: none;
}
